.gamesList {
  width: 80%;
  justify-content: left;
  align-content: left;
}
.daysGames{
    display: flex;
    justify-content: left;
    margin-left: 0%;
}
.container {
    max-width: '100%'  //This will make container to take screen width
  }
  
.row {
    max-width: '100%'  //This will make container to take screen width
  }
